:root{
--yellow: hsl(47, 88%, 63%);
--white: hsl(0, 0%, 100%);
--gray-500: hsl(0, 0%, 42%);
--gray-950: hsl(0, 0%, 7%);
font-size:16px;
}
@font-face {
    font-family:figtree ;
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-family:"figtree", sans-serif ;
}
body{
    width:100vw;
    height:100vh;
    overflow-y: scroll;
    scrollbar-width: auto;
    background-color: var(--yellow);
    display: flex;
}
.card{
    margin: 10vh 5vw auto;
    background-color: var(--white);
    padding:1rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 0 0;
}
.logo{
    border-radius: 10px;
    width:100%;
    object-fit: cover;
}
h1{
    padding:10px 15px;
    background-color: var(--yellow);
    display: inline-block;
    margin:1rem 0;
    font-size: 1rem;
    font-family: figtree, sans-serif; 
    font-weight: 900;
}
h2{
  font-size: 1.5rem;
  font-weight: 700;  
  margin:1.5rem 0;
}
footer{
    display: flex;
    justify-content: flex-start;
    margin-top:2rem
}


.author-pic{
    width:50px ;
}

.author{
    align-self: center;
    font-weight: 900;
    margin-left:1rem;
}
@media only screen and (min-width:400px){
    .card{
        margin: 10rem auto auto;
    }
}
